.titulo-glosario-propio {
    text-align: center;
    color: var(--text-primary, #c8d4f0);
    font-size: 2.0rem;
    font-weight: 600;
    margin: 30px 0 30px ;
}

.acciones {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0px 28px 5px 28px;

}

.space-search-bar {
    flex: 1;
}


.btn-categoria,
.btn-crear-concepto {
    flex-shrink: 0;
}